<div class="container">
  <h2 class="text-center my-4 text--primary" >Precedentes</h2>
  <form class="container" [formGroup]="formPrecedents" #formDirective="ngForm" (ngSubmit)="submit(formPrecedents ,formDirective)"   >
    <div class="row">
      <mat-form-field class="col-6">
        <input
          matInput
          type="date"
          formControlName="fecha"
          placeholder="Fecha"
        />
        <mat-error
          *ngIf="this.formPrecedents.get('fecha')?.errors?.['required']"
        >
          El campo es obligatorio
        </mat-error>
      </mat-form-field>

        <mat-form-field class="col-6">
          <input
            matInput
            type="number"
            formControlName="numero"
            placeholder="N°"
          />
          <mat-error
            *ngIf="this.formPrecedents.get('numero')?.errors?.['required']"
          >
            El campo es obligatorio
          </mat-error>
          <mat-error
            *ngIf="this.formPrecedents.get('numero')?.errors?.['pattern']"
          >
            El campo es numerico
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-6">
          <input
            matInput
            currencyMask
            type="number"
            formControlName="valor"
            placeholder="Valor"
          />
          <mat-error
            *ngIf="this.formPrecedents.get('valor')?.errors?.['required']"
          >
            El campo es obligatorio
          </mat-error>
          <mat-error
            *ngIf="this.formPrecedents.get('valor')?.errors?.['pattern']"
          >
            El campo es numerico
          </mat-error>
        </mat-form-field>
      <mat-form-field class="col-6">
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="modo"  >
          <mat-option>Escoge una opcion</mat-option>
          <mat-option *ngFor="let modo of allModo"  value="{{ modo.modoName }}">{{ modo.modoName }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-6">
        <mat-label>Modo</mat-label>
        <mat-select  formControlName="tipo" >
          <mat-option *ngFor="let tipo of allTipo"  value="{{ tipo.tipoName }}">{{ tipo.tipoName }}</mat-option>

        </mat-select>
      </mat-form-field>
        <mat-slide-toggle class="col-6" [color]="color">Estado</mat-slide-toggle>

    </div>
    <div class="d-flex flex-row-reverse">
      <button mat-raised-button color="primary" aria-label="Guardar">
        <mat-icon>check_circle_outline</mat-icon> Guardar
      </button>
    </div>
  </form>
</div>
<br>
<div class="container">
  <table class="table  table-hover table-bordered table-content">
    <thead>
      <tr class="center-align">
        <th>Fecha</th>
        <th>#</th>
        <th>Valor</th>
        <th>Tipo</th>
        <th>Modo</th>
        <th >Acciones</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let precedent of Precedentlist" class="center-align">
        <td>{{ precedent.fecha | date: 'dd/MM/yyyy'}}</td>
        <td>{{ precedent.numero }}</td>
        <td>{{ precedent.valor |  currency:"COP" }}</td>
        <td>{{ precedent.tipo }}</td>
        <td>{{ precedent.modo  }}</td>

        <td>
          <a mat-raised-button color="primary" ><mat-icon>edit</mat-icon></a>
        </td>
      </tr>
      <tr>
        <td *ngIf="Precedentlist.length == 0" colspan="6">No se encuentra registros</td>
      </tr>
    </tbody>
    <tfoot>
      <tr >
        <td  colspan="2" >Total</td>
        <td colspan="4">{{total | currency:"COP" }}</td>
      </tr>
    </tfoot>
  </table>
</div>

